### Homework 3: Advanced Pandas and Introductory Plotting

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

ModuleNotFoundError: No module named 'seaborn'

**Problem 1**: Loading a data file.

Below, load in the data from the `spotify.csv` file.  Assign it to a variable `spotify` below.

**Problem 2**: Who is the most frequently occurring artist in the data?

**Problem 3**: Create a histogram for the `tempo` column.

**Problem 4**: Create a scatterplot of `tempo` vs. `danceability`.  Do these features seem related?

**Problem 5**: Load in the `cell_phone_churn.csv` data and assign as `churn` below.

This dataset contains customer information from a telecommunications company about customer churn.  A customer is *churned* if they leave the provider.

**Problem 6**: What percentage of customers were churned?

**Problem 7**: How do customers who has a voicemail plan and those who did not compare in terms of percent churned?

**Problem 8**: Draw a barplot to represent the number of customers by the number of customer service calls these customers made.

**Problem 9**: Draw boxplots for international minutes by customers who were churned and those that were not.  Are there any differences between these groups?

**Income by College Major**

Below, a dataset from Nate Silver's 538 blog is shown on college majors and income. [link](https://fivethirtyeight.com/features/the-economic-guide-to-picking-a-college-major/)

In [ ]:
url1 = 'https://raw.githubusercontent.com/fivethirtyeight/data/master/'
url2 = 'college-majors/recent-grads.csv'
url = url1 + url2
df538 = pd.read_csv(url)
df538.head(2)

**Problem 10**: Assign the columns of the data as a list below.

**Problem 11**: Set the index of `df538` as `Major`.

**Problem 12**: Create a horizontal bar chart of the median salary by major.

**Problem 13**: Load in the `gapminder.csv` file and assign as `gapminder_df` below.  This data comes from the Gapminder organization and contains information on countries GDP and Life Expectancy.

**Problem 14**: What is the average GDP for each continent?

**Problem 15**: Create a scatter plot for GDP vs. Life Expectancy for the data from 2002.  Include a title and x and y labels.

#### Exploring your own data

Now, head over to the website `kaggle.com` and locate a dataset of interest to you from the [datasets](https://www.kaggle.com/datasets?fileType=csv).  Download a dataset and load it in to your notebook below. Be careful that you don't select a dataset that is too large (>10 GB), and don't spend too much time trying to find the perfect dataset.  

The goal here is to use our techniques from `pandas` and `matplotlib` to explore the data.  Once you have the data loaded, you are to use summaries and plots to explore the data.  Create three plots of your data that contain important insights.  Be sure to label your axes and add appropriate titles to these plots.

#### Styling `pandas`

Chris Moffit has a nice blog about practical uses of Python in a business setting.  In one article, he discusses many more approaches to formatting and styling of DataFrame's. Head over to the article [here](https://pbpython.com/styling-pandas.html) and read it completely.  Use his tips on adding `sparklines` to install the `sparklines` library and demonstrate its use on the titanic dataset from `seaborn` below.  

Also, select one other tip for styling that you enjoy.  Create a markdown cell and write a brief summary of the technique, followed by a demonstration using the `titanic` DataFrame.

In [1]:
import seaborn as sns

/opt/anaconda3/lib/python3.8/site-packages/scipy/__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.3
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [2]:
titanic = sns.load_dataset('titanic')
titanic.head(2)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False