# Reading Files and Split Apply Combine

This lesson focuses on reviewing our basics with pandas and extending them to more advanced munging and cleaning.  Specifically, we will discuss how to load data files, work with missing values, use split-apply-combine, use string methods, and work with string and datetime objects.  By the end of this lesson you should feel confident doing basic exploratory data analysis using `pandas`. 

**OBJECTIVES**

- Read local files in as `DataFrame` objects
- Drop missing values
- Replace missing values
- Impute missing values
- Use `.groupby` 
- Use built in `.dt` methods
- Convert columns to `pd.datetime` datatype
- Work with `datetime` objects in pandas.

## Reading Local Files

To read in a local file, we need to pay close attention to our *working directory*.  This means the current location of your work enviornment with respect to your larger computer filesystem.  To find your working directory you can use the `os` library or if your system executes UNIX commands these can be used.

In [1]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
#pip install seaborn

In [3]:
#check working directory
os.getcwd()

'/Users/jacobkoehler/Desktop/fall_23/NYU-Bootcamp/new_bootbook'

In [4]:
#list all files in directory
os.listdir()

['intro_to_numpy.ipynb',
 'homework_I.ipynb',
 'intro_to_plotting.ipynb',
 'homework_III.zip',
 'requirements.txt',
 'untitled.md',
 'homework_III.ipynb',
 'dates_intro_to_plotting.ipynb',
 'python_fundamentals_one.ipynb',
 'intro_to_pandas.ipynb',
 '__MACOSX',
 '_toc.yml',
 'logo.png',
 '_build',
 '_config.yml',
 'Pandas_Cheat_Sheet.pdf',
 'python_fundamentals_two.ipynb',
 '.ipynb_checkpoints',
 'syllabus.ipynb',
 '.git',
 'plotting_seaborn.ipynb',
 'data',
 'pandas_II.ipynb']

In [5]:
#what's in the data folder?
os.listdir('data')

['diamonds.csv',
 'gapminder_all.csv',
 'LasVegasTripAdvisorReviews-Dataset.csv',
 'ufo.csv',
 'movie_ratings.tsv',
 'churn_missing.csv',
 'NBA_players_2015.csv',
 'spotify.csv',
 'cars.csv',
 'cell_phone_churn.csv',
 'rollingsales_manhattan.csv',
 'AAPL.csv']

In [6]:
#what is the path to ufo.csv?
ufo_path = 'data/ufo.csv'

##### `read_csv`

Now, using the path to the `ufo.csv` file, you can create a DataFrame by passing this filepath to the `read_csv` function.

In [7]:
#read in ufo data
ufo = pd.read_csv(ufo_path)

In [8]:
# look at first 2 rows
ufo.head(2)

          City Colors Reported Shape Reported State             Time
0       Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1  Willingboro             NaN          OTHER    NJ  6/30/1930 20:00

In [9]:
# high level information
ufo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80543 entries, 0 to 80542
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   City             80492 non-null  object
 1   Colors Reported  17034 non-null  object
 2   Shape Reported   72141 non-null  object
 3   State            80543 non-null  object
 4   Time             80543 non-null  object
dtypes: object(5)
memory usage: 3.1+ MB

In [10]:
# numerical summaries
ufo.describe()

           City Colors Reported Shape Reported  State            Time
count     80492           17034          72141  80543           80543
unique    13503              31             27     52           68901
top     Seattle          ORANGE          LIGHT     CA  7/4/2014 22:00
freq        646            5216          16332  10743              45

In [11]:
# categorical summaries
ufo.describe(include = 'object')

           City Colors Reported Shape Reported  State            Time
count     80492           17034          72141  80543           80543
unique    13503              31             27     52           68901
top     Seattle          ORANGE          LIGHT     CA  7/4/2014 22:00
freq        646            5216          16332  10743              45

In [12]:
# all summaries
ufo.describe(include = 'all')

           City Colors Reported Shape Reported  State            Time
count     80492           17034          72141  80543           80543
unique    13503              31             27     52           68901
top     Seattle          ORANGE          LIGHT     CA  7/4/2014 22:00
freq        646            5216          16332  10743              45

In [13]:
# tips = sns.load_dataset('tips')
# tips.head()

In [14]:
# tips.describe(include = 'all')

### Reading from url

You can also load datasets from urls where a `.csv` (or other) file live.  Github is one example of this.  Note that you want to be sure to use the *raw* version of the file.  For example, a github user `dsnair` has shared datasets from the book [Introduction to Statistical Learning]() at the link below:


https://github.com/dsnair/ISLR/tree/master/data/csv

read in the Auto dataset below.

In [15]:
# get url to raw data
auto_url = 'https://raw.githubusercontent.com/dsnair/ISLR/master/data/csv/Auto.csv'

In [16]:
# pass to read_csv
auto = pd.read_csv(auto_url)

In [17]:
#auto.describe?

In [18]:
# look at the first few rows
auto.head(2)

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320

In [19]:
# high level information
auto.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 392 entries, 0 to 391
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           392 non-null    float64
 1   cylinders     392 non-null    int64
 2   displacement  392 non-null    float64
 3   horsepower    392 non-null    int64
 4   weight        392 non-null    int64
 5   acceleration  392 non-null    float64
 6   year          392 non-null    int64
 7   origin        392 non-null    int64
 8   name          392 non-null    object
dtypes: float64(3), int64(5), object(1)
memory usage: 27.7+ KB

#### Problems

1. Read in the `diamonds.csv` file from the `data` folder, and create a DataFrame named `diamonds`.

In [20]:
diamonds_path = 'data/diamonds.csv'

2. How many diamonds are greater than .5 carat in the data?

3. What is the highest priced diamond in the data?

4. Read the data from the `caravan.csv` file in located [here](https://github.com/dsnair/ISLR/blob/master/data/csv/Caravan.csv).  Assign this to a variable `caravan`.

5. How many `Yes`'s are in the `Purchase` column of the `caravan` data?  No's?

### Missing Values

Missing values are a common problem in data, whether this is because they are truly missing or there is confusion between the data encoding and the methods you read the data in using.

In [21]:
# re-examine ufo info

In [22]:
# one-liner to count missing values

In [23]:
# drop missing values

In [24]:
# fill missing values

In [25]:
# replace missing values with most common value

In [26]:
# be careful with comparisons!!!

#### Problem

1. Read in the dataset `churn_missing.csv` in the data folder, assign to a variable `churn` below.

2. Are there any missing values?  What columns are they in and how many are there?

3. What do you think we should do about these?  Drop, replace, impute?

### `groupby`

Often, you are faced with a dataset that you are interested in summaries within groups based on a condition.  The simplest condition is that of a unique value in a single column.  Using `.groupby` you can split your data into unique groups and summarize the results.  

**NOTE**: After splitting you need to summarize!

![](https://www.oreilly.com/api/v2/epubs/9781783985128/files/graphics/5128OS_09_01.jpg)

In [27]:
# sample data
df = pd.DataFrame(
    {
        "A": ["foo", "bar", "foo", "bar", "foo", "bar", "foo", "foo"],
        "B": ["one", "one", "two", "three", "two", "two", "one", "three"],
        "C": np.random.randn(8),
        "D": np.random.randn(8),
    }
)
df

     A      B         C         D
0  foo    one  0.070739 -0.837488
1  bar    one  0.005418  0.986840
2  foo    two -0.281743  1.026459
3  bar  three  0.293187 -1.024529
4  foo    two -0.694130 -0.956863
5  bar    two  0.042240  1.202865
6  foo    one  1.489994 -2.227871
7  foo  three  1.748434  0.524358

In [28]:
# foo vs. bar
df.groupby('A').mean()

TypeError: agg function failed [how->mean,dtype->object]

In [ ]:
# one two or three?
df.groupby('B').mean()

In [ ]:
# A and B
df.groupby(['A', 'B']).mean()

In [ ]:
# working with multi-index
df.groupby(['A', 'B'], as_index=False).mean()

In [ ]:
# age less than 40 survival rate
titanic = sns.load_dataset('titanic')
titanic.groupby(titanic['age'] < 40)[['survived']].mean()

#### Problems

In [ ]:
tips = sns.load_dataset('tips')

In [ ]:
tips.head(2)

1. Average tip for smokers vs. non-smokers.

2. Average bill by day and time.

3. What is another question `groupby` can help us answer here?

4. What does the `as_index` argument do?  Demonstrate an example.

**See you Thursday!**