#### Classification I: KNN and Logistic Regression

In this assignment you will build two models for classifying penguin species.  You will use both `KNeighborsClassifier` and a `LogisticRegression` estimator.  The dataset contains information on penguins in Antarctica, the task is to predict the `species` column.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline
from sklearn.neighbors import KNeighborsClassifier

ModuleNotFoundError: No module named 'matplotlib'

In [2]:
penguins = sns.load_dataset('penguins')

In [3]:
penguins.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female

#### Problem 1: Drop missing data

Drop the missing data from the dataset.

#### Problem 2: `sns.pairplot`

Create a pairplot of the data colored by `species`.

#### Problem 3: Split Data

Use the `train_test_split` function to create your train and test data.  Use all columns below.

In [5]:
X = penguins.drop('species', axis = 1)
y = penguins['species']

#### Problem 4: `OneHotEncoder`

Use the `make_column_transformer` together with the `OneHotEncoder` to encode the categorical columns in the data.  Be sure to drop the first encoded category and passthrough the remaining data.

#### Problem 5: Scale Data

Modify the `make_column_transformer` from the previous problem to apply the `StandardScaler` to remaining columns.

#### Problem 6: KNN 

Instantiate and fit a KNN model with `n_neighbors = 5`.

#### Problem 7: Train/Test Accuracy

Score your model on both your train and test data.

#### Problem 8: Trying a different number of neighbors

Consider a KNN model with `n_neighbors = 50`.  Fit and score this model.  Did it perform better than your earlier model with 5 neighbors?

#### Problem 9: Logistic Regression

Create a `Pipeline` that encodes your categorical data and Standard Scale's the remainder, and the second step is a Logistic Regression model.  Fit the model and score it on your train and test data.

#### Problem 10: DataFrame of coefficients

Extract the coefficients from the Pipeline and create a DataFrame of the coefficients and their respective feature names.